body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
  font-family: "Lucida Grande", Tahoma;
  font-weight: lighter;
  color:rgb(111, 107, 128);
  font-size: medium;
}

.wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.about-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

h1 {
  color: #3b2881;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: -1px;
  font-size: xx-large;
}
h2{
  color: #3b2881;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: -1px;
  font-size: large;
}

h3{
  color: #3b2881;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: -1px;
  font-size: large;}    
  
button {
  background-color: #3b2881;
  color: #FAEBEFFF;
  padding: 15px 30px;
  border-radius: 3px;
  border: none;
  font-size: medium;
}

button:hover {
  background-color: #4e3a96;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

footer {
  position: fixed;
  left: 0;
  right:0px;
  bottom:0px;
  padding: 15px;
  background-color: #ffffff;
  font-family: "Lucida Grande", Tahoma;
  font-weight: lighter;
  color:#6f6b80;
  text-align: right;
  text-anchor: end;
  font-size: smaller;
}

.pantry-list {
  font-family: "Lucida Grande", Tahoma;
  font-weight: lighter;
  color:rgb(111, 107, 128);
  font-size: medium;
}