body {
  background-color: #FAEBEFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-style: ;
}

h1 {
  color: #333D79FF;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #333D79FF;
  color: #FAEBEFFF;
}
